<!DOCTYPE html>
<html lang="en" ng-app="PlayerApp">
	<head>
		<meta charset="UTF-8">
		<title>Player</title>
		<script src="/angular/angular.min.js"></script>
		<script src="/player.js"></script>
	</head>
	<body ng-controller="PlayerCtrl as playerCtrl">

		<h2>Player</h2>

		<table>
			<tr>
				<td>Name:</td>
				<td>
					<input type="text" size="30" placeholder="Your name here"
							ng-model="playerCtrl.name">
				</td>
			</tr>
			<tr>
				<td>Game id:</td>
				<td>
					<input type="text" size="30" placeholder="GameId here"
							ng-model="playerCtrl.gameId">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-click="playerCtrl.joinGame()"
							ng-disabled="playerCtrl.socket">
						Join
					</button>
				</td>
			</tr>
		</table>

		<hr>

		<img ng-repeat="c in playerCtrl.hand" ng-src="{{ c.image }}" width="64px"
				ng-dblclick="playerCtrl.dropCard($index)">
		
	</body>
</html>
