<!DOCTYPE html>
<html lang="en" ng-app="TableApp">
	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<script src="/angular/angular.min.js"></script>
		<script src="/table.js"></script>
	</head>
	<body ng-controller="TableCtrl as tableCtrl">

		<h1>Game Table: {{ tableCtrl.gameId }}</h1>

		<button type="button" ng-click="tableCtrl.createGame()"
				ng-disabled="tableCtrl.started">
			Create
		</button>

		<button type="button" ng-click="tableCtrl.startGame()"
				ng-disabled="!tableCtrl.started">
			Start
		</button>

		<hr>

		<div ng-if="tableCtrl.started">
			<img ng-src="{{ tableCtrl.topCard.image}}" alt="" width="64px">
			<img src="/images/uno_deck/back.png" alt="" width="64px">
			({{ tableCtrl.cardCount }})
		</div>

		
	</body>
</html>
